.header{
  display: flex;
  justify-content: space-between  ;
  position: sticky;
  align-items: center;
  padding-left: 120px;
  padding-right: 110px;
  height: 50px;
  width: 100%;
  background-color: white;
  top: 0px;
  z-index: 9999;
}

.left-header{
  font-weight: 900;
  font-size: 18px;
}

.mid-header{
  display: flex;
  width: 280px;
  justify-content: space-between;
  align-items: center;
}


@media screen and (max-width:640px) {
  .pic-sm-danger{
    display: none;
  }
}

@media screen and (max-width:640px) {
  .header-right-danger{
    display: none;
  }
}


@media screen and (max-width:640px) {
  .header-danger{
    padding:0px 12px;
  }
}

@media screen and (max-width:640px) {
  .mid-header-danger{
    font-size: smaller;
  }
}


